<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="logo-navbar" href="/kraken-store/"><img src="/kraken-store/assets/images/logo/kraken-logo.jpeg" alt="logo kraken store" class="logo-kraken"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/kraken-store/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/kraken-store/src/pages/productos/audifonos.html">Audífonos</a></li>
            <li><a class="dropdown-item" href="/kraken-store/src/pages/productos/apple-watch.html">Apple Watches</a></li>
            <li><a class="dropdown-item" href="/kraken-store/src/pages/productos/proyectores.html">Proyectores</a></li>
            <li><a class="dropdown-item" href="/kraken-store/src/pages/productos/magsafe.html">MagSafe</a></li>
            <li><a class="dropdown-item" href="/kraken-store/src/pages/productos/cargadores.html">Cargadores</a></li>
            <li><a class="dropdown-item" href="/kraken-store/src/pages/productos/cargadores-qi2.html">Cargadores MagSafe 3 en 1 Certificacion Qi2</a></li>
            <li><a class="dropdown-item" href="/kraken-store/src/pages/productos/accesorios.html">Accesorios y Cargadores</a></li>
          </ul>
        <li class="nav-item">
          <a class="nav-link" href="/kraken-store/src/pages/contacto.html">Contacto</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/kraken-store/src/pages/admin/login.html">Administración</a>
        </li>
        
        </li>
      </ul>
    </div>
  </div>
</nav>